.searchLoading,
.searchError,
.searchResults {
  grid-column: 2/6;
  margin-bottom: 2em;
  height: fit-content;
}

.searchLoading,
.searchError {
  grid-row: 3/4;
}

.searchResults {
  text-align: right;  /* Aligns the back-to-top button   */
  grid-row: 3/5;
}

.resultList {
  text-align: center;
}

.searchResults h3,
.searchAlert {
  text-align: left;
}

.searchAlert {
  margin-bottom: 2.2em;
}

@media screen and (max-width: 800px) {
  .searchLoading,
  .searchError,
  .searchResults {
    grid-column: 2/8;
    grid-row: 4/5;
  }

  @media screen and (max-width: 600px) {
    .searchLoading,
    .searchError,
    .searchResults {
      grid-column: 2/3;
    }
  }
}
