.searchResults {
  grid-column: 2/6;
  grid-row: 3/5;
  text-align: right;  /* Aligns the back-to-top button   */
  margin-bottom: 2em;
  animation: 1s 1 appear;
}

.resultList {
  text-align: center;
}

.searchResults h3,
.searchAlert {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .searchResults {
    grid-column: 2/8;
    grid-row: 4/5;
  }

  @media screen and (max-width: 600px) {
    .searchResults {
      grid-column: 2/3;
    }
  }
}
