.submitted {
  padding: 3em 0;
  background-color: var(--SH-bright-green);
  animation: 1s 1 appear;
}

.submitted>* {
  grid-column: 2/8;
  text-align: center;
}

.socialButton {
  margin: 1em;
  padding: 0;
}

@media screen and (max-width: 600px) {
.submitted>* {
    grid-column: 2/3;
  }
}