.searchAlert {
  grid-column: 2/6;
  grid-row: 3/4;
  align-self: flex-start;
  margin-bottom: 1em;
  animation: 1s 1 appear;
}

@media screen and (max-width: 800px) {
  .searchAlert {
    grid-column: 2/8;
    grid-row: 4/5;
  }

  @media screen and (max-width: 600px) {
    .searchAlert {
      grid-column: 2/3;
    }
  }
}
