.toTopButton {
  z-index: 3;
  grid-column: 6/7;
  grid-row: 4/5;
  position: sticky;
  bottom: 10px;
  justify-self: center;
  align-self: flex-end;
  margin: 10px;
  padding: 0;
}

.toTopButton a {
  display: inline-block;
  padding: 0.5em 1em;
}

.toTopButton a:visited {
  color: var(--SH-green);
}

@media screen and (max-width: 800px) {
  .toTopButton {
    grid-column: 2/8;
    grid-row: 4/5;
    justify-self: flex-end;
  }

  @media screen and (max-width: 600px) {
    .toTopButton {
      grid-column: 2/3;
    }
  }
}