/*
 ---- STRUCTURE ---- 

  1. Variables

  2. Default(desktop) styles
  -- Global styles
  -- Section styles
  --- Greeting
  --- Header
  --- Main area
  ---- Intro
  ---- Submitted
  ---- Movie Lists
  ------ Movie Card
  ------- Movie Info
  ----- Search bar
  ----- Search results
  ------ Back-to-top button
  ----- Nominations
  ------ Banner
  --- Footer

  3. Responsive styles

  4. Animations

*/



/* 1. VARIABLES */

:root {
  --SH-black: #333A42;
  --SH-dark-grey: #6B7177;
  --SH-light-grey: #B4B4B4;
  --SH-dark-green: #00644B;
  --SH-green: #008060;
  --SH-light-green: #2CBA97;
  --SH-bright-green: #9CF4DE;
  --SH-dark-yellow: #F8CD00;
  --SH-yellow: #FFE66D;
  --SH-light-yellow: #FFF3B9;
  --SH-mint: #F8F8F8;
  --SH-white: #FFFFFF;
}



/* 2. Defaultstyles */

/* 2. Default styles - GLOBAL STYLES */

.app {
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  color: var(--SH-black);
}

h3 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.17em;
  color: var(--SH-black);
}

h4 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.17em;
}

a {
  color: var(--SH-dark-green);
  font-weight: regular;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--SH-green);
}

a:active, a:visited {
  color: var(--SH-light-green);
}

button {
  padding: 0.5em 1em;
  margin: 0;
  background-color: var(--SH-green);
  border: 3px solid var(--SH-green);
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 0.4em;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(13, 15, 15, 0.15);
  transition: all 0.3s ease-in-out;
}

button:hover, button:focus {
  box-shadow: 0 0 6px rgba(13, 15, 15, 0.4)
}

button:active {
  transform: scale(0.975);
  background-color: var(--SH-dark-green);
  border-color: var(--SH-dark-green);
  transition: all 0.2s;
}

button:disabled {
  background-color: var(--SH-light-grey);
  border-color: var(--SH-light-grey);
  transform: none;
  cursor: not-allowed;
}

.title {
  font-style: italic;
  font-weight: bold;
  letter-spacing: -0.01em;
}


.grid-container {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) repeat(6, 1fr) minmax(170px, 1fr);
  gap: 1.5em;
}

.box {
  background-color: var(--SH-white);
  box-shadow: 1px 1px 4px rgba(180, 180, 180, 0.25);
  border-radius: 4px;
  padding: 1.75em;
}

.unpop {
  animation: 0.3s 1 unpop !important;
}

.disappear {
  animation: 0.3s 1 disappear !important;
}

.spinner-container {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: none;
  animation: 0.5s 1 appear;
}

.spinner-background {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner {
  box-sizing: content-box;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 60px;
  height: 60px;
  border: 10px solid var(--SH-green);
  border-top-color: transparent;
  border-radius: 50%;
  animation: 1s linear infinite spin;
}



/* 2. Default styles - SECTION STYLES */

/* 2. Default styles - SECTION STYLES - Greeting */

.greeting {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  animation: 2.5s 1 greeting-descent;
}

.greeting .title {
  font-size: 4em;
}

.greeting .logo {
  max-width: 20em;
  margin: 0 -1em 0 -3em;
}

.greeting div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.greeting p {
  font-size: 2em;
  font-weight: bold;
  line-height: 2.3em;
  letter-spacing: 0.02em;
  line-height: 1em;
  text-align: left;
  margin: 0.2em 0 0.2em -0.2em;
  padding: 0;
  color: var(--SH-green);
}

.greeting .title {
  font-style: italic;
  font-weight: bold;
  letter-spacing: -0.01em;
}


/* 2. Default styles - SECTION STYLES - Header */

header {
  width: 100vw;
  background-color: var(--SH-light-yellow);
  background: linear-gradient(270deg, #FFFFFF 45%, rgba(255, 255, 255, 0) 72%), url(../pexels-daria-shevtsova-horizontal.jpg);
  background-position: center left 0;
  background-size: 100%, 60%;
  background-repeat: no-repeat;
  animation: 1s 1 appear;
}

header>* {
  grid-column: 4/8;
  align-self: flex-end;
  text-align: right;
}

header .heading {
  display: inline-block;
  margin: 3.875em 0 1em 0;
  color: var(--SH-black);
}

.heading .logo {
  max-width: 7.4em;
  display: inline-block;
  margin: 0.5em 0 -1em -1em;
}

.heading h1, .heading span {
  display: inline-block;
  margin: -0.2em 0 -0.2em -0.2em;
}

.subheading {
  color: var(--SH-black);
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25em;
}

header .button-container {
  margin: 1em 0 6.5em 0;
}


/* 2. Default styles - SECTION STYLES - Main area */

main {
  animation: 1s 1 appear;
}


/* 2. Default styles - SECTION STYLES - Intro / Submitted */

.intro, .submitted {
  padding: 3em 0;
}

.intro>*, .submitted>* {
  grid-column: 2/8;
  text-align: center;
}

/* 2. Default styles - SECTION STYLES - Submitted */

.submitted {
  background-color: var(--SH-bright-green);
  animation: 1s 1 appear;
}


/* 2. Default styles - SECTION STYLES - Movie Lists */

.movie-lists {
  background-color: var(--SH-mint);
}

.movie-lists h2 {
  grid-column: 2/8;
  grid-row: 1/2;
  margin: 2em auto 0.5em auto;
}

/* 2. Default styles - SECTION STYLES - Movie Lists - Movie Card */

.movie-card {
  margin: 1em 0 1em 0;
  padding: 0.3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: left;
  box-shadow: 1px 1px 5px var(--SH-light-grey);
  transition: all 0.3s;
}

.movie-card>* {
  margin: 0.5em;
}

.movie-card img {
  display: inline-block;
}

.movie-card div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card .movie-title {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.17em;
  padding: 0.5em;
}

.movie-card-buttons {
  display: flex;
  flex-flow: row nowrap;
}

.movie-card-buttons > * {
  flex: 0 1 auto;
}

.movie-card .info-button {
  margin-right: 0.5em;
  color: var(--SH-green);
  background-color: var(--SH-white);
  border: 3px solid var(--SH-green);
  font-style: italic; 
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Movie info */

.movie-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 70vw;
  border: 5px solid var(--SH-green);
  box-shadow: 0 0 30px var(--SH-dark-grey);
  font-size: 1.1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: 0.7s 1 appear;
}

.movie-info .close-button {
  color: var(--SH-green);
  justify-self: flex-start;
  align-self: flex-end;
}

.movie-details {
  display: grid;
  grid-template-columns: 2em 1fr 2fr 2em;
  grid-template-areas:
    ". poster title ."
    ". poster director ."
    ". poster info .";
  gap: 1em;
  text-align: left;
  animation: 0.5s 1 appear;
}

.movie-details img {
  grid-area: poster;
  max-width: 100%;
  display: block;
  align-self: center;
}

.movie-details h4 {
  grid-area: title;
  font-size: 1.2em;
}

.movie-details span {
  grid-area: director;
  font-size: 1.2em;
  font-weight: 300;
}

.movie-details dl {
  grid-area: info;
  font-size: 0.8em;
}

.movie-details dt {
  font-weight: 500;
}

.movie-details dd {
  margin-left: 0.5em;
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Search */

.search {
  grid-column: 2/8;
  grid-row: 2/3;
}

.search-bar fieldset {
  width: 100%;
  position: relative;
  border: 1px solid var(--SH-light-grey);
  border-radius: 4px;
  padding: 0;
  margin: 1em 0 0 0;
}

#search-text-field {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 1em;
  border-radius: 4px;
}

.search-button {
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: -2px;
  left: auto;
  top: -1px;
  border-radius: 0 4px 4px 0;
  height: 102%;
}

.search-button:active {
  transform: none;
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Search results */

.search-alert, .search-loading {
  grid-column: 2/6;
  grid-row: 3/4;
  align-self: flex-start;
  margin-bottom: 1em;
}

.search-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.5s 1 appear;
}

.search-alert {
  animation: 1s 1 appear;
}

.search-results {
  grid-column: 2/6;
  grid-row: 3/5;
  text-align: right;  /* Aligns the back-to-top button */ 
  margin-bottom: 2em;
  animation: 1s 1 appear;
}

.search-results h3 {
  text-align: left;
}

.search-results ul {
  text-align: center;
}

.movie-card-search img {
  max-width: 5.56em;
}

.show-more-button {
  margin: 0.5em auto 0 auto;
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Search Results - Back-to-top button */

.to-top-button {
  position: sticky;
  bottom: 10px;
  right: 0px;
  z-index: 3;
  margin-right: calc(-1.75em - 5em);
  padding: 0;
}

  .to-top-button,
  .nominations .dropdown-button {
  color: var(--SH-green);
  border: 3px solid var(--SH-green);
  background-color: var(--SH-white);
}

.to-top-button:active,
.nominations .dropdown-button:active {
  background-color: var(--SH-white);
  border: 3px solid var(--SH-green);
}

.to-top-button a {
  display: inline-block;
  padding: 15px 20px;
}

.to-top-button a:visited {
  color: var(--SH-green);
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Nominations */

.nominations {
  grid-column: 6/8;
  grid-row: 3/4;
  position: sticky;
  top: 0;
  left: auto;
  z-index: 3;
  margin-bottom: 5em;
}

.nominations-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.nominations h3 {
  display: inline-block;
}

.nominations-count {
  display: none;
}

.nominations .dropdown-button {
  display: none;
}

.movie-card-nominations {
  font-size: 0.75em;
  animation: 0.3s 1 pop;
}

.movie-card-nominations img {
  max-width: 2.78em;
}

.movie-card-nominations .info-button {
  color: var(--SH-green);
  border: 3px solid var(--SH-green);
}

.remove-button, .close-button {
  border-color: transparent;
  background-color: transparent;
  color: var(--SH-dark-grey);
  font-size: 2em;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

.remove-button:hover, .remove-button:focus,
.close-button:hover, .close-button:focus {
  box-shadow: none;
}

.remove-button:active, .close-button:active {
  background-color: transparent;
  border-color: transparent;
}


/* 2. Default styles - SECTION STYLES - Movie Lists - Nominations - Banner */

.banner {
  background-color: var(--SH-yellow);
  color: var(--SH-black);
  text-align: center;
  font-size: 0.75em;
  padding: 1em;
  animation: 0.6s 1 banner-pop;
}

.banner p {
  margin-top: 0;
}


/* 2. Default styles - SECTION STYLES - Footer */

footer {
  background-color: var(--SH-black);
  padding: 2em 1em;
  text-align: center;
  animation: 1s 1 appear;
}

footer .heading .logo {
  max-width: 5em;
  margin: 0.4em 0 -0.8em 0;
}

footer .heading .title {
  font-size: 2.5em;
  color: var(--SH-white);
}

footer a {
  display: inline-block;
  margin-top: 1.75em;
}

footer a, footer a:visited {
  color: var(--SH-mint);
}

footer a:hover, footer a:focus {
  color: var(--SH-white);
}

footer small {
  color: var(--SH-dark-grey);
  display: block;
  margin-top: 1em;
}



/* 3. Responsive styles */

@media screen and (max-width: 1250px) {
  
  body {
    font-size: 17px;
  }

  .grid-container {
    grid-template-columns: minmax(40px, 3em) repeat(6, 1fr) minmax(40px, 3em);
    gap: 1.3em;
  }

  header>* {
    grid-column: 3/8;
  }

  .movie-info {
    width: 80vw;
  }

  @media screen and (max-width: 1024px) {
    
    body {
      font-size: 16px;
    }

    .grid-container {
      grid-template-columns: minmax(32px, 3em) repeat(6, 1fr) minmax(32px, 3em);
      gap: 1.2em;
    }

    header {
      background: linear-gradient(199deg, #FFFFFF 32%, rgba(255, 255, 255, 0) 70%), url(../pexels-daria-shevtsova-vertical.jpg);
      background-position: top 0 right 0, center left 0;
      background-size: 100%, 100%;
      background-repeat: no-repeat;
    }

    .movie-info {
      width: 90vw;
    }

    @media screen and (max-width: 800px) {
  
      body {
        font-size: 15px;
      }

      .greeting {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      .greeting p {
        text-align: center;
      }
  
      .greeting .logo {
        margin: 0;
      }

      .grid-container {
        grid-template-columns: 3em repeat(6, 1fr) 3em;
      }

      header>* {
        grid-column: 2/8;
      }

      header .subheading {
        grid-column: 3/8;
      }

      .nominations {
        grid-column: 2/8;
        grid-row: 3/4;
        margin-bottom: 1em;
      }

      .nominations-count {
        display: inline-block;
      }

      .nominations .dropdown-button {
        display: block;
      }

      .nominations ul,
      .nominations li,
      .nominations-placeholder {
        visibility: hidden;
        user-select: none;
        display: block;
        font-size: 0;
        line-height: 0;
        opacity: 0;
      }

      .nominations ul {
        height: 0.1em;
        margin-top: -0.5em;
        transition: all 0.5s linear;
      }

      .nominations-active ul, 
      .nominations-active li,
      .nominations-active .nominations-placeholder {
        visibility: visible;
        user-select: auto;
        font-size: 1em;
        line-height: 1em;
        margin: 1em 0;
        opacity: 1;
        transition: 
          line-height 0.2s linear, 
          font-size 0.2s linear, 
          opacity 0.5s linear;    
      }

      .nominations-active ul {
        height: fit-content;
      }

      .banner {
        margin-top: 0.5em;
        font-size: 1em;
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }

      .banner p {
        margin-right: 0.3em;
      }
      
      .search-results, .search-alert {
        grid-column: 2/8;
        grid-row: 4/5;
      }

      @media screen and (max-width: 600px) {

        body {
          font-size: 14px;
        }
    
        .grid-container {
          grid-template-columns: minmax(5px, 0.3em) 1fr minmax(5px, 0.3em);
          gap: 0.7em;
        }
  
        .grid-container>*, 
        header .subheading,
        .intro>*, .submitted>*,
        .movie-lists h2,
        .search,
        .nominations,
        .search-results, .search-alert {
          grid-column: 2/3;
        }
  
        header .heading {
          margin-top: 1.5em;
          font-size: 0.8em;
        }
  
        header .subheading {
          font-size: 1.7em;
        }

        .movie-info {
          font-size: 1.2em;
        }
              
        .movie-details {
          grid-template-columns: 1fr;
          grid-template-areas:
            "poster"
            "title"
            "director"
            " info";
          gap: 0.5em;
          align-items: center;
          justify-items: center;
        }

        .movie-details img {
          max-width: 150px;
        }

        .movie-details dl {
          text-align: left;
        }

        @media screen and (max-width: 400px) {
          body {
            font-size: 12px;
          }

          header {
            background-position: top 0 right 0, bottom 0 left 0;
          }

          header .heading {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: flex-end;
          }
          
          .heading .logo {
            flex: 0 1 7.4em;
          }
          
          .heading h1 {
            flex: 0 0 max-content;
          }

          .movie-info {
            padding: 1em;
          }
        }
      }
    }
  }
}



/* 4. Animation */

@keyframes greeting-descent {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes disappear {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes pop {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes banner-pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }

}

@keyframes unpop {
  from {
    transform: scale(1.0);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes loading {

}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
