.movieLists {
  background-color: var(--SH-mint);
  padding-top: 5em;
}

.movieLists h2 {
  grid-column: 2/8;
  grid-row: 1/2;
  margin: 0 auto 0.5em auto;
}

@media screen and (max-width: 600px) {
  .movieLists h2 {
    grid-column: 2/3;
  }
}